<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @user.avatar.url(:normal) %>
  <%= image_tag @user.avatar.url(:small) %>  
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
